header, footer {
    width: 100%;
    height: 40px;
}

div, section, footer, header {
    border: 1px solid black;
}

section {
    max-width: 1000px;
    margin: auto;
}

#geral {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.produto {
    height: auto;
    width: 200px;
    padding: 10px;
    /*border: 1px solid black;*/
}

.imagem {
    width: auto;
    height: 250px;
    margin: auto;
    text-align: center;
}

img {
    width: auto;
    height: 100%;
    text-align: center;
}

.nome-livro, .autor, .preco, .add-carrinho {
    margin-top: 5px;
    text-align: center;
    height: auto;
}

span{
    margin: auto;
}