body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #EFEFEF;
    min-width: 250px;
}

header, footer, nav, section {
    width: 100%;
}

header{
    background-color: #06A2AF;
}
nav{
    background-color: #FFF;
    margin-bottom: 10px;
}

section {
    background-color: #EFEFEF;
}

footer {
    background-color: #FFF;
    margin-top: 10px;
}

/*div, section, footer, header, nav {
    border: 1px solid black;
}*/

div#geral {
    border: 0px;
}

#cabecalho {
    display: grid;
    grid-template-columns: 25% 68% 7%;
    height: 65px;
}

#livraria {
    height: 60px;
    width: auto;
}

#busca {
    height: 25px;
    padding: 5px;
    margin: 13px 0px;
    width: 75%;
}

#botao-busca {
    height: 39px;
    margin: 13px 0px;
    text-align: center;
    padding: 0px;
}

#botao-busca img{
    height: 14px;
    width: 14px;
    text-align: center;
}

#cart {
    height: auto;
    width: 33px;
    margin: 13px 0px;
}

#qtdeCart {
    background-color: #EA0000;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    top: 40px;
}

#rodape {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#rodape span {
    padding: 10px 10px 5px 10px;
}

#rodape small {
    padding: 5px 10px 10px 10px;
}

#navegacao {
    height: 50px;
}

ul {
    padding:0px;
    margin:0px;
    list-style:none;
    height: 100%;
}

ul li { 
    display: inline; 
}

ul li a {
    padding: 2px 10px;
    display: inline-block;
    padding: 15px;

    /* visual do link */
    color: #333;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

#geral, #cabecalho, #rodape, #navegacao {
    max-width: 1000px;
    margin: auto;
}

#index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

div.produto {
    height: 300px;
    padding: 10px;
    background-color: white;
}

div.imagem {
    width: auto;
    height: 175px;
    margin: auto;
    text-align: center;
}

div.add-carrinho {
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
}

div.add-carrinho a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

div.texto-carrinho {
    text-transform: uppercase;
    font-size: 12px;
}

div.imagem img {
    width: auto;
    max-height: 100%;
    text-align: center;
}

div.nome-livro, div.autor, div.preco, div.add-carrinho {
    text-align: center;
    padding: 5px;
    height: auto;
}

div.nome-livro {
    font-size: 14px;
    font-weight: bold;
}

div.autor {
    font-size: 11px;
}

div.preco {
    font-size: 18px;
    font-weight: bold;
}

#carrinho {
    background-color: #FFFFFF;
    padding: 10px;
}

#confirmar-compra a {
    
}

#lista-carrinho {
    border: 1px solid black;
}

#titulo {
    padding: 10px;
}

.produto-carrinho {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr 2fr 1fr;
    border: 1px solid black;
}

#lista-detalhes {
    display: grid;
    grid-template-columns: 2fr 1fr;    
}

.imagem-carrinho {
    width: auto;
    height: 100px;
    margin: auto;
    text-align: center;
}

.imagem-carrinho img {
    width: auto;
    max-height: 100%;
    text-align: center;
}

.quantidade-carrinho{
    display: grid;
    grid-template-columns: repeat(3, 20px);
    height: 20px;
    text-align: center;
    padding: 10px;
}

.imagem-carrinho, .produto-carrinho, 
.quantidade-carrinho, .nome-livro-carrinho, 
.preco-carrinho, .subtotal-carrinho, .remover-carrinho{
    margin: auto 0px;
}

.quantidade-carrinho div {
    border: 1px solid black;
}

.menos-qtde{
    border-bottom-left-radius: 5px;;
    border-top-left-radius: 5px;
}

.mais-qtde{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.remover-carrinho a, .quantidade-carrinho a{
    cursor: pointer;
}

#finalizacao-compra {
    padding: 10px;
}

@media only screen and (max-width: 953px){
    #index {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 717px){
    #index {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 482px){
    #index {
        grid-template-columns: repeat(1, 1fr);
    }
}