body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #EFEFEF;
}

header, footer, nav, section {
    width: 100%;
}

header{
    background-color: #06A2AF;
}
nav{
    background-color: #FFF;
    margin-bottom: 10px;
}

section {
    background-color: #EFEFEF;
}

footer {
    background-color: #FFF;
    margin-top: 10px;
}

/*div, section, footer, header, nav {
    border: 1px solid black;
}*/

div#geral {
    border: 0px;
}

#cabecalho {
    display: grid;
    grid-template-columns: 25% 68% 7%;
    height: 65px;
}

#cart {
    height: auto;
    width: 33px;
    padding: 13px 0px;
}

#rodape {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#rodape span {
    padding: 10px 10px 5px 10px;
}

#rodape small {
    padding: 5px 10px 10px 10px;
}

#navegacao {
    height: 50px;
}

#geral, #cabecalho, #rodape, #navegacao {
    max-width: 1000px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.produto {
    height: 300px;
    padding: 10px;
    background-color: white;
}

.imagem {
    width: auto;
    height: 175px;
    margin: auto;
    text-align: center;
}

.add-carrinho {
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
}

.add-carrinho a {
    text-decoration: none;
    color: black;
}

.texto-carrinho {
    text-transform: uppercase;
    font-size: 12px;
}

.imagem img {
    width: auto;
    max-height: 100%;
    text-align: center;
}

.nome-livro, .autor, .preco, .add-carrinho {
    text-align: center;
    padding: 5px;
    height: auto;
}

.nome-livro {
    font-size: 14px;
    font-weight: bold;
}

.autor {
    font-size: 11px;
}

.preco {
    font-size: 18px;
    font-weight: bold;
}